.footer {
	background-color: #000000;
}

.copyright {
	padding: 20px 0;
}

.copyright__text .p__inner {
	text-align: center;
	font-size: calc(0.1em + 1.1vw);
	line-height: 1.5;
	color: #F7F5EB;
}

.copyright__text span {
	color: #F7F5EB;
}

@media (max-width: 900px) {
	.copyright__text .p__inner {
		font-size: calc(0.2em + 5vw);
	}
	
	.controle__margin .footer__center{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}