/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f9f9f9; */
    background-color: #313131;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: calc(0.1em + 6vw);
}

h2 {
    font-size: calc(0.1em + 3vw);
}

h3 {
    font-size: calc(0.1em + 1.5vw);
}

.container {
    max-width: 90%;
    padding: 0 10px;
    margin: 0 auto;
    border: 2px solid red;
}

.container-fl {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.div-menu {
    width: 100%;
}

.header {
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Nav menu */
.logo-container {
    max-width: 10%;
}

.logo-container .logo {
    max-width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav .menu a {
    display: block;
    margin: 7px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #f9f9f9;
    font-size: calc(0.1em + 1.1vw);
    /*underline*/
    position: relative;
}

/*create underline*/
.nav .menu a:hover {
    background-color: rgb(64, 64, 64);
    color: #e2e220;
}

.nav .menu .menu-under .lng-services-ul {
    color: #e2e220;
}

.nav .menu .menu-under .lng-services-ul::before, .nav .menu a::before {
    content: '';
    bottom: 0;
    left: auto;
    position: absolute;
    height: 1px;
    background-color: #e2e220;
}

.nav .menu .menu-under .lng-services-ul::before {
    width: 100%;
}

.nav .menu a::before {
    width: 0%;
    transition: 0.2s;
}

.nav .menu a:hover:before {
    width: 100%;
}

.nav {
    max-height: 0;
    transition: .5s;
    display: flex;
    justify-content: flex-end;
}

.menu-under {
    padding-left: 5%;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 4% 2%;
}

/* Style label tag */
.hamb-line {
    background: #f9f9f9;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
    background: #f9f9f9;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 50%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.menu .active__home {
    color: #bababa;
}

/** Changer language **/
/* Custom dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: #ddd;
    background-image: none;
    border: 1px solid black;
}

.select {
    position: relative;
    display: block;
    height: 25px;
    line-height: 1.5;
    background: #ddd;
    overflow: hidden;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #222;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    background: #fff;
    pointer-events: none;
}

.select:hover::after {
    color: #f7f724;
    background: #ccc;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;

}

#slct {
    border: none;
}

.menu-container {
    border: 2px solid #e2e220;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

/* Responsiveness */
@media (min-width: 700px) {
    .nav {
        max-height: none;
        padding-right: 5%;
        padding-top: 1.5%;
    }


    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: #e2e220;

    }

    .hamb {
        display: none;
    }

    .nav .menu .lng-services-ul {
        position: relative;
        overflow: auto;
    }

    /* Show the dropdown menu on hover */
    li:hover .menu-under {
        display: flex;
    }

    .menu-under {
        background-color: #333;
        display: flex;
        padding-left: 0%;
        position: absolute;
        min-width: 150px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        display: none;
    }
}

@media (min-width: 1850px) {
    .select {
        width: 4%;
    }
}

@media (max-width: 1700px) {
    .select {
        width: 6%;
    }
}

@media (max-width: 1300px) {
    .select {
        width: 7%;
    }
}

@media (max-width: 1100px) {
    .select {
        width: 8%;
    }
}

@media (max-width: 900px) {
    .select {
        width: 11%;
    }
}

@media (max-width: 700px) {
    .select {
        width: 15%;
    }
}

@media (max-width: 600px) {
    .select {
        width: 17%;
    }
}

@media (max-width: 500px) {
    .select {
        width: 20%;
    }
}

@media (max-width: 400px) {
    .select {
        width: 25%;
    }
}

@media (max-width: 300px) {
    .select {
        width: 35%;
    }
}

@media (max-width: 250px) {
    .select {
        width: 45%;
    }
}

@media (min-width: 100px) and (max-width: 200px) {
    .select {
        width: 60%;
    }
}