/* Line */
.line {
    width: 200px;
    border-top: 2px solid #e6c55a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

/* Line large*/
.line__large {
    width: 98.5%;
    border-top: 3px solid #e6c55a;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.rules__text{
    text-indent: 25px;
    font: calc(0.1em + 1.5vw) sans-serif;
    line-height: 1.5;
}

.rules__text__bold{
    text-indent: 25px;
    font: calc(0.1em + 1.5vw) sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

.section__subtitle {
    color: #050505;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 4%;
}

.section__with__p__img img{
    border:4px solid #E2C374;
}

.section__with__p__img{
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.text__p__abonoment{
    margin-left: 4%;
}
/* Button */
.rules__btns {
    display: flex;
    margin-left: 25px;
}

.rules__btns a {
    margin-top: 2%;
    font-size: calc(0.1em + 1.2vw);
    text-align: center;
    text-decoration: none;
    border: #050505 solid 3px;
    border-radius: 5px;
    padding: 1.5% 3%;
    display: block;
    cursor: pointer;
}

.rules__btns .grid__item__btn p {
    color: #050505;
    font-weight: bold;
}

.rules__btns a:hover {
    transition: 0.8s;
    background: #050505;
}

.rules__btns .grid__item__btn:hover p {
    color: #F7F5EB;
}

.registration {
    margin-top: 4%;
    /* border: 2px solid red; */
    text-align: center;
}

.rules__text__without__indent{
    font: calc(0.1em + 1.5vw) sans-serif;
    line-height: 1.5;
}

.effects__from__massage{
    background-color: #e6c55a;
}

.effects__container{
    display: flex;
}

.effects__container .effect__1, 
.effects__container .effect__2{
    width: 50%;
}