/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: url("../img/index/background.jpeg") no-repeat center fixed;
    background-size: cover;
}

h1 {
    font-size: calc(0.1em + 6vw);
}

h2 {
    font-size: calc(0.1em + 3.5vw);
}

h3 {
    font-size: calc(0.1em + 2.5vw);
}

h4 {
    font-size: calc(0.1em + 1vw);
}

h5 {
    font-size: calc(0.1em + 0.5vw);
}

/* scroll edit */
::-webkit-scrollbar {
    width: 5px;
    /* ширина нового скроллбара */
}

::-webkit-scrollbar-track {
    background: rgb(50, 38, 27);
    /* цвет фона у дорожки */
}

::-webkit-scrollbar-thumb {
    border: 3px solid rgb(82, 59, 28);
    /* толщина, стиль и цвет рамки */
}
