.fixedbut {
    position: fixed;
    bottom: 5%;
    right: 1%;
    display: block;
    background: #b63b2c;
    color: #F7F5EB;
    text-decoration-color: #F7F5EB;
    padding: 50px 20px;
    border-radius: 50%;
    font-size: 18px;
}

.fixedbut:hover {
    background: #d45c4e;
}