.container {
    max-width: 80%;
    padding: 0 10px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.container__fl {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.div__menu {
    width: 100%;
}

.header {
    background-color: rgba(20, 20, 20, 0.56);
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Nav menu */
.logo__container {
    max-width: 15%;
}

.logo__container .logo {
    max-width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav .menu a {
    display: block;
    margin: 7px;
    padding-bottom: 5px;
    /* text-transform: uppercase; */
    color: #f9f9f9;
    font-size: calc(0.1em + 1.1vw);
    /*underline*/
    position: relative;
}

/*create underline*/
.nav .menu a:hover {
    /* background-color: rgb(64, 64, 64); */
    color: #e6c55a;
}

.nav .menu .menu__under .lng__services__ul {
    color: #e6c55a;
}

.nav .menu .menu__under .lng__services__ul::before, .nav .menu a::before {
    content: '';
    bottom: 0;
    left: auto;
    position: absolute;
    height: 1px;
    background-color: #e6c55a;
}

.nav .menu .menu__under .lng__services__ul::before {
    width: 100%;
}

.nav .menu a::before {
    width: 0%;
    transition: 0.2s;
}

.nav .menu a:hover:before {
    width: 100%;
}

.nav {
    max-height: 0;
    display: flex;
    justify-content: flex-end;
}

.menu__under {
    padding-left: 5%;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 4% 2%;
}

/* Style label tag */
.hamb__line {
    background: #f9f9f9;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */
.hamb__line::before,
.hamb__line::after {
    background: #f9f9f9;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb__line::before {
    top: 5px;
}

.hamb__line::after {
    top: -5px;
}

.side__menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side__menu:checked~nav {
    max-height: 50%;
    height: 50vh;
    overflow-y: scroll;
    font-size: calc(2em + 2vw);
}

.side__menu:checked~.hamb .hamb__line {
    background: transparent;
}

.side__menu:checked~.hamb .hamb__line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side__menu:checked~.hamb .hamb__line::after {
    transform: rotate(45deg);
    top: 0;
}

.menu .active__home {
    color: #bababa;
}

/** Changer language **/
/* Custom dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: #ddd;
    background-image: none;
    border: 1px solid black;
}

.select {
    position: relative;
    display: block;
    height: 25px;
    line-height: 1.5;
    background: #ddd;
    overflow: hidden;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #222;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    background: #fff;
    pointer-events: none;
}

.select:hover::after {
    color: #f7f724;
    background: #ccc;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;

}

#slct {
    border: none;
}

.menu__container {
    /* border: 2px solid #e2e220; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

/* Responsiveness */
@media (min-width: 900px) {
    .nav {
        max-height: none;
        padding-right: 5%;
        padding-top: 1.5%;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: #e6c55a;

    }

    .hamb {
        display: none;
    }

    .nav .menu .lng__services__ul {
        position: relative;
        overflow: auto;
    }

    /* Show the dropdown menu on hover */
    li:hover .menu__under {
        display: flex;
    }

    .menu__under {
        background-color: rgba(20, 20, 20, 0.56);
        display: flex;
        padding-left: 0%;
        position: absolute;
        min-width: 150px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        display: none;
    }
}

@media (min-width: 1850px) {
    .select {
        width: 9%;
    }
}

@media (max-width: 1700px) {
    .select {
        width: 13%;
    }
}

@media (max-width: 1300px) {
    .select {
        width: 15%;
    }
}

@media (max-width: 1100px) {
    .select {
        width: 17%;
    }
}

@media (max-width: 900px) {
    .select {
        width: 21%;
    }

}

@media (max-width: 700px) {
    .select {
        width: 25%;
    }

}

@media (max-width: 600px) {
    .select {
        width: 34%;
    }
}

@media (max-width: 500px) {
    .select {
        width: 42%;
    }
}

@media (max-width: 400px) {
    .select {
        width: 51%;
    }
}

@media (max-width: 300px) {
    .select {
        width: 70%;
    }
}

@media (max-width: 250px) {
    .select {
        width: 90%;
    }
}

@media (min-width: 100px) and (max-width: 200px) {
    .select {
        width: 100%;
    }
}