/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: url("../img/index/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: calc(0.1em + 6vw);
}

h2 {
    font-size: calc(0.1em + 3.5vw);
}

