/* Hero */
.hero__text{
    color: #fff;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.hero__text h2{
    text-transform: uppercase;
    padding-bottom: 1.5%;
}

.hero__inner{
    font-size: calc(0.1em + 1.6vw);
}


/* media */
/* @media (min-width: 1850px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 1700px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 1300px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 1100px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 900px) {
    .hero-text{
        padding-top: 5%;
    }

}

@media (max-width: 700px) {
    .hero-text{
        padding-top: 5%;
    }

}

@media (max-width: 600px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 500px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 400px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 300px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (max-width: 250px) {
    .hero-text{
        padding-top: 5%;
    }
}

@media (min-width: 100px) and (max-width: 200px) {
    .hero-text{
        padding-top: 5%;
    }
} */