.container__rules {
    border:2px solid red;
}
.about__us {
    border:2px solid red;
}
.rules__for__our__clients {
    border:2px solid red;
}
.record {
    border:2px solid red;
}
.choise__master {
    border:2px solid red;
}
.deposit {
    border:2px solid red;
}
.time {
    border:2px solid red;
}
.late {
    border:2px solid red;
}
.cancel__or__transfer {
    border:2px solid red;
}
.rules__for__gift__certificates {
    border:2px solid red;
}
.video__with__cooments__about__massage {
    border:2px solid red;
}
