/* Hero */
.hero__text{
    color: #F7F5EB;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.hero__text h2{
    text-transform: uppercase;
    padding-bottom: 1.5%;
}

.hero__inner{
    font-size: calc(0.1em + 1.6vw);
}

@media (max-width: 900px){
	
    .hero__text h2{
        font-size: calc(0.1em + 8vw);
    }

    .hero__inner{
        font-size: calc(0.1em + 5vw);
    }
}

